nav {
  background-color: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.4rem;
  z-index: 2;
  margin: 10px auto;
  bottom: 2rem;
  display: flex;
  gap: 0.4rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  position: sticky;
}
nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
nav a.active {
  background: var(--color-bg);
  color: var(--color-white);
}
