.contact_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1.5rem;
    text-align: center;
    padding: 2rem;
}
.contact_option{
  background-color: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.contact_option:hover{
    background-color: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
@media screen and (max-width: 1024px) {
    .contact_container {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.2rem;
    }
  }
  
  /* ========== sm devices ======= */
  
  @media screen and (max-width: 570px) {
    .contact_container {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    } 
   }